<nav>
    <ul>
        <li {% if page.url=="/syllabus/" %}class="active" {% endif %}><a href="{{site.baseurl}}/syllabus/">Syllabus</a>
        </li>
        <li {% if page.url=="/" or page.url contains "/schedule/" %}class="active" {% endif %}><a
                href="{{site.baseurl}}/">Schedule</a></li>
        <li {% if page.url contains "/assignments/" %}class="active" {% endif %}><a
                href="{{site.baseurl}}/assignments/">Assignments</a></li>
        <li {% if page.url contains "resources" %}class="active" {% endif %}><a
                href="{{site.baseurl}}/resources/">Resources</a></li>
        <li {% if page.url contains "repos" %}class="active" {% endif %}><a href="{{site.baseurl}}/repos/">Repos</a>
        </li>
        <li><a href="https://drive.google.com/drive/folders/1F04DqxzsbKMFNIsGkrv_FbglDk5WKRit?usp=sharing"
                target="_blank">Videos</a></li>
    </ul>
</nav>