<style>
    .checkbox-list>li {
        margin-bottom: 30px;
    }
</style>

{:.info}
> ### Class Exercises Repo Checklist
> Because I didn't make the <a href="https://github.com/csci338/class-exercises-spring2025"
    target="_blank">class-exercises-spring2025</a> private when folks forked it, we need to go back and do a little
surgery to get things in order. This will also be good additional git / GitHub practice.
>
> Please verify the following:
> * You should be able to access the source version of the <a
    href="https://github.com/csci338/class-exercises-spring2025" target="_blank">csci338/class-exercises-spring2025</a>
repo, which is now private.
> * If you can't, check your email and accept your invitation to join the repo.
> * A the root of your GitHub repo, your "forked from" source should say **csci338/class-exercises-spring2025**. See
screenshot:<br><br><img src="/spring2025/assets/images/github/ss1.png" class="large" /><br>If this is not the case:
> 1. Delete your GitHub repo (not your local repo on your computer).
> 1. Re-fork your copy of the repo from <a href="https://github.com/csci338/class-exercises-spring2025"
    target="_blank">csci338/class-exercises-spring2025</a>
> 1. Re-push the `lab02-b` branch to your remote.
> 1. You will not need to recreate a pull request for lab 2 if you already created and submitted one on the Moodle.
> * Make sure that your version of the `class-exercises-spring2025` repo is private.
> * Add `svanwart` as a collaborator on your private repo.
>{:.checkbox-list}