{% assign lectures = site.lectures | where: 'type', 'topic' %}
{% assign assignments = site.assignments %}


<div class="schedule-simple">
    <div class="header">
        <h2 id="schedule">Weekly Topics & Labs</h2> 
        <p>Note that these topics are subject to change.</p>
    </div>
    <div class="group">
        <h3 id="topics">Topics</h3>
        <ol>
        {% for lecture in lectures %}
            <li>
                
                {% if lecture.draft == 1 %}
                    {{ lecture.title }}
                {% else %} 
                    <a href="{{site.baseurl}}{{lecture.url}}">{{ lecture.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
        </ol>
    </div>

    <div class="group">
        <h3 id="labs">Labs & Projects</h3>
        <ol>
        {% for assignment in assignments %}
            <li>
                
                {% if assignment.draft == 1 %}
                    {{ assignment.title }}
                {% else %} 
                    <a href="{{site.baseurl}}{{assignment.url}}">{{ assignment.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
        </ol>
    </div>
</div>