<style>
    .new.info li {
        margin-bottom: 0px;
    }
</style>

<blockquote class="info new">
    <h2><span class="badge info">new</span> Video Walkthroughs</h2>
    <ul>
        <li><a href="https://drive.google.com/drive/folders/1FRCNGShJOW2VD10Ro5ShR4d0zPcr2PWV?usp=sharing"
                target="_blank">Video folder</a></li>
        <li><a href="https://drive.google.com/file/d/1B6poJMvGyjBQUE-HQ3XByATTieCEAOMK/view?usp=drive_link"
                target="_blank">Development server architecture diagram</a></li>
        <li><a href="https://drive.google.com/file/d/1KEc8Nl7J2j1XX7eD5cg6G_1bWi6dfc5s/view?usp=drive_link"
                target="_blank">Production server architecture diagram</a></li>
    </ul>

    <table class="large">
        <thead>
            <tr>
                <th></th>
                <th>Part of the Stack</th>
                <th>Video</th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Overview</td>
                <td> <a href="https://drive.google.com/file/d/1cLxq3queBXcVXJN21RacBKYYOAopJXaP/view?usp=drive_link"
                        target="_blank">Introduction to the system architecture</a></td>
                <td>12:11</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Overview</td>
                <td><a href="https://drive.google.com/file/d/16s5MGymE5xeRZjFHMYqxT5jE3kgEN9Y3/view?usp=drive_link"
                        target="_blank">Docker development environment</a></td>
                <td>6:27</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Overview</td>
                <td><a href="https://drive.google.com/file/d/1JG83ZwpE1_JT8S8bW0pKGU2CecNDqxjH/view?usp=drive_link"
                        target="_blank">Docker production environment</a></td>
                <td>4:51</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Python Web Server</td>
                <td><a href="https://drive.google.com/file/d/1m37hs81O816Sl_XkhKqrrHRa1JNwIhlx/view?usp=drive_link"
                        target="_blank">How the SQLAlchemy setup works</a></td>
                <td>11:54</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Python Web Server</td>
                <td><a href="https://drive.google.com/file/d/1DR4VlrENOqtS7hhyjOQECpw4yQ7yWYsL/view?usp=drive_link"
                        target="_blank">How to make a new SQLAlchemy model and database table</a></td>
                <td>18:46</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Python Web Server</td>
                <td><a href="https://drive.google.com/file/d/1WfDU86ASeUkQc6arJKlah1vb3MfHE4vK/view?usp=drive_link"
                        target="_blank">How to make a FastAPI Endpoint</a></td>
                <td>9:18</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Python Web Server</td>
                <td><a href="https://drive.google.com/file/d/1FKlNNGLkubsHOqqe1FCoe3vFXr9U-tS6/view?usp=drive_link"
                        target="_blank">Understanding the Depends module and Pydandic</a></td>
                <td>9:56</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Deployment</td>
                <td><a href="https://drive.google.com/file/d/1TQejcAO8Tk0jVcjbvadia6riXmDKboWe/view?usp=sharing"
                        target="_blank">Supabase (for the PostgreSQL Database)</a></td>
                <td>6:35</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Deployment</td>
                <td><a href="https://drive.google.com/file/d/1O2Xm3y9DcGhZH22CooAYhxWXcpW12OPA/view?usp=sharing"
                        target="_blank">Render (for the Python + React Web App)</a></td>
                <td>10:25</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Deployment</td>
                <td><a href="https://drive.google.com/file/d/1Iazn9lnUVXeGSuZDmpZwz0fnRl5tWeiM/view?usp=sharing"
                        target="_blank">GitHub Actions (CI/CD)</a></td>
                <td>17:11</td>
            </tr>
        </tbody>
    </table>
</blockquote>