---
layout: default
---
{{content}}


{% assign everything = site.assignments | concat: site.lectures | concat: site.quizzes %}
{% assign labs = site.assignments | where: 'type', 'tutorial' %}
{% assign main_listing = site.lectures | concat: site.quizzes | concat: labs %}

<!-- Calculate relevant dates -->
{% assign dates = site.term_start_date | tuesdays_and_thursdays: site.term_end_date %}
{% assign assignment_dates = everything | sort: 'due_date' | map: 'due_date' | uniq %}
{% assign due_dates = site.assignments | extract_due_dates %}
{% assign dates = dates | combine_dates: due_dates %}

<section class="schedule">
    <!-- gets a distinct list of dates from lectures and assignments -->
    <p>
        Note: This schedule is subject to change (as needed).
    </p>
    <table>
        <thead>
            <tr>
                <th>Week</th>
                <th></th>
                <th>Topic / Lab</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
            {% assign lastWeek = "" %}
            {% for date in dates %}
                {% assign __todays_topics = site.lectures | where: 'start_date', date %}
                {% assign __todays_labs = site.assignments | where: 'start_date', date | where: 'type', 'lab' %}
                
                {% assign todays_topics_labs = __todays_topics | concat: __todays_labs %}
                {% assign todays_assignments = site.assignments | where: 'due_date', date %}

                <!-- Check whether to highlight the rol -->
                {% assign rowClass = "" %}
                {% assign holiday_flag = todays_topics_labs | has_holiday_or_deadline %}
                {% if holiday_flag %}
                    {% assign rowClass = "holiday" %}
                {% endif %}  

                <tr class="{{rowClass}}">
                    <th>
                        {% assign week = site.term_start_date | get_week_number: date %}
                        {% if lastWeek != week %}
                            Week {{week}}
                            {% assign lastWeek = week %}
                        {% endif %}
                        <span class="due-date">
                            {{ date | date: "%m/%d/%y" }}
                        </span>
                    </th>
                    <td>
                        {{ date | date: "%a, %m/%d" }}
                    </td>
                    <td>
                        {% for topic in todays_topics_labs %}
                            {{ topic | display_link_or_badge }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for assignment in todays_assignments %}
                            {{ assignment | display_assignment }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</section>