<!doctype html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body class="two-column">
        {% include header.html %}
        {% include navigation.html %}
        {% assign all_content = schedule_simple | append: content %}
        <main class="syllabus">
            <aside>
                {% include toc.html html=all_content class='side-menu' ordered=true %}
            </aside>
            <article>
                {% include page_title.html %} 

                <table class="course-overview">
                    <tbody>
                        <tr>
                          <td><strong>Term</strong></td>
                          <td>{{ page.term }}</td>
                        </tr>
                      <tr>
                        <td><strong>Course</strong></td>
                        <td>{{ page.course }}</td>
                      </tr>
                      <tr>
                        <td><strong>Instructor</strong></td>
                        <td>
                            {% for instructor in page.instructors %}
                                {{ instructor.name }} ({{ instructor.pronouns }})
                                <ul>
                                    <li>{{ instructor.email }}
                                    </li>
                                    <li>Office Hours: {{ instructor.office_hours }}<br>
                                        Zoom Link: <a href="https://unca-edu.zoom.us/j/7543717427" target="_blank">https://unca-edu.zoom.us/j/7543717427</a></li>
                                </ul>
                            {% endfor %}
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Prerequisites</strong></td>
                        <td>{{ page.prerequisites }}</td>
                      </tr>
                      <tr>
                          <td><strong>Time</strong></td>
                          <td>{{ page.time }}</td>
                      </tr>
                      <tr>
                          <td><strong>Zoom Link</strong></td>
                          <td><a href="{{ page.zoom_link }}" target="_blank">{{ page.zoom_link }}</a></td>
                      </tr>
                      <tr>
                        <td><strong>UNCA Catalog Description</strong></td>
                        <td>{{ page.catalog_description }}</td>
                      </tr>
                    </tbody>
                </table>
 
                {{ content }}

            </article>  
        </main>

        {% include footer.html %}
        {% include scripts.html %}
        {% if page.h_max %}
        <script>
            window.h_max = "{{page.h_max}}";
        </script>
        {% endif %}
        <script type="text/javascript" src="{{site.baseurl}}/assets/js/scrollspy.js"></script>
        <script type="text/javascript" src="{{site.baseurl}}/assets/js/expandable.js"></script>
    </body>
</html>